body{
  
    /*background-image:linear-gradient( black, #F9DD8F ) ;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,f9dd8f+100 */
    background-image: linear-gradient(to bottom, #000000, #45302f, #886051, #c7996e, #f9dd8f);
  
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    width: 100%;
  }
  .imgMenu{
    width: 100%;
  
  }
  .row{
      font-size: 100%;
  }
  .btn-danger{
    height: 50% ;
    width: 40%;
   margin-bottom: 30%;
   margin-left: 30%;
   
  }
  .btn-success{
    height: 50%;
    width: 40%;
    margin-left: 30%;
  }
  .btn-warning{
    height: 300% ;
    width: 40%;
    margin-left: 30%;
    color: white;
  }
  .btn-primary{
    height: 300% ;
    width: 40%;
    margin-left: 30%;
  }
  .container-fluid{
    margin-bottom: 5%;
  }
  
  /* Clear floats after the columns */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .logo{
    margin-left: 20%;
  
    
  }
  .dropdown-menu img{
  width: 50%;
  margin-left:25%;
  }
  
  /*.dropdown-menu.show{
    background: black;
    color: white;
  }*/
  /*page carte de fidélité
  *tableau*/
  
  table {
    background: white;
  }
  .titrefidel{
    color: white;
    display: block;
    margin-left: 450px;
    height: 50px;
  
  }
  .btn-outline-success1{
    display: block;
    background: green;
    color: white;
    margin-bottom:15px;
    margin-left: 89%;
  }
  /*page ajout carte*/
  h2{
    text-align: center;
    color: white;
  }
  .btn-light1{
    color: white;
    background: blue;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .btn-light11{
    background:white;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .btn-primary1{
    color: white;
    background: blue;
    margin-left: 41%;
    
  }
  .btn-primary2{
    color: white;
    background: blue;
    margin-left: 40%;
  }
  /*menu dropdown selection ou categorie*/
  .btn-secondaryajout{
    color: white;
    background: blue;
    margin-left: 4%;
    
  }
  .btn-secondaryajout1{
    color: white;
    background: blue;
    margin-left: 5%;
  }
  /* image recto verso*/
  .rounded{
    width: 200px;
  }
  /*STYLE POUR MENU DEROULANT
      STYLE POUR MENU DEROULANT*/
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
  
      .mobile-container {
        max-width: 100%;
        border-radius: 10%; 
        
      }
  
      .topnav {
        overflow: hidden;
        position: relative;
      }
  
      .topnav #myLinks {
        display: none;
        width: 200px;
        background: #7E5835;
        border-radius: 5px;
      }
      .topnav #myLinks a{
        margin-left: 25px;
        padding: 5px;
        font-size: 15px;
      }
      .topnav a {
        padding: 40px 42px;
        text-decoration: none;
        color: white;
        display: block;
  
      }
  
      .topnav a.icon { 
        display: block;
        position: absolute;
        top: 0;
        font-size: 30px;
        
  
      }
       a:hover{
         color: white;
       }
  /* PAGE FORMULAIRE D'INSCRIPTIION*/
  .form-control1{
    width: 70%;
    margin-left: 20%;
  }
  .form-control2{
    width: 70%;
    margin-left: 20%;
  }
  .form-control3{
    width: 34%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
  } 
  .form-control4{
    width: 34%;
    margin-left: 35%;
    margin-bottom: 2%;
  }
  .form-control5{
    width: 34%;
    margin-left: 35%;
    margin-bottom: 2%;
  }
  .btn-primaryform{
    width: 34%;
    margin-left: 35%;
    margin-bottom: 2%;
    color: white;
    background:#2A1F07;
  } 
  .containerform{
    margin-top:8%;
  }
  /*PAGE CONNEXION*/
  .textco1{
    color:#f9dd8f ;
  }
  .form-group1{
    margin-left: 35%;
    width: 35%;
    margin-bottom: 2%;
  }
  .form-group2{
    margin-left: 35%;
    width: 35%;
    margin-bottom: 2%;
  }
  .form-group3{
    margin-left: 35%;
    width: 35%;
    margin-bottom: 2%;
  }
  .btn-primaryform{
    margin-left: 35%;
    width: 35%;
    margin-bottom: 2%;
  }
  .btn-primaryform1{
    margin-left: 46.5%;
    width: 13%;
    margin-top: 3%;
    background:#2A1F07;
    color: white;
  }
  .ou{
    margin-left: 47%;
    margin-bottom: 2%;
  }
  .seco{
    margin-left: 15%;
    margin-bottom: 5%;
  }
  .btn-facebook{
    background: #3B5998;
    width: 20%;
    height: 100%;
    margin-left: 71%;
    
    
  }
  .fa-facebook{
    color: white;
  }
  .btn-google{
    background: #DD4B39;
    width: 20%;
    height: 100%;
    margin-left: 18%;
  }
  .fa-google{
    color: white;
  }
  /* Responsive Opéra Mobile*/
  @media all and (max-device-width: 480px)
  {
      body {
        width: 100%;
        
      }
      /* Vos règles CSS pour les mobiles ici */
      .btn-secondaryMenu{
       padding: 0%;
       width: 100%;
       color: white;
       background: brown;
       
      }
      .logo{
        margin-left: 0px;
        width: 100%;
      }
      .logo > img {
        width: 100%;
      }
      .btn-light1{
        margin-left: 0%;
        width: 100%;
      }
      .btn-light11{
        margin-left: 0%;
        width: 100%;
      }
      .btn-secondaryajout{
        margin-left: -20%;
      }
      .btn-primary1{
        margin-left: 0%;
        width: 50%;
        height: 80%;
      }
      .btn-primary2{
        margin-left: 0%;
      }
      /*page inscription*/
      .form-control1{
        margin-left: 5%;
      }
      .form-control3{
        margin-left: 32%;
        margin-bottom: 4%;
        margin-top: 10%;
      }
      .form-control4{
        margin-left: 32%;
        margin-bottom: 4%;
        margin-top: 4%;
      }
      .form-control5{
        margin-left: 32%;
        margin-bottom: 4%;
        margin-top: 4%;
      }
      .btn-primaryco{
        margin-left: 32%;
        margin-bottom: 4%;
        margin-top: 4%;
      }
      /*Page connexion */
      .form-group1{
        width: 90%;
        margin-bottom: 10%;
        margin-left: 5%;
      }
      .form-group2{
        width: 90%;
        margin-bottom: 10%;
        margin-left: 5%;
      }
      .btn-primaryform{
        width: 90%;
        margin-bottom: 10%;
        margin-left: 5%;
        background: #2A1F07;
      }
      .ou{
        margin-right: 25%;
      }
      .btn-primaryform1{
        width: 50%;
        margin-top: 10%;
        margin-left: 28%;
  
      }
      .ou{
        margin-left: 20%;
        color: white;
        
      }
      .seco h3{
       text-align: center;
       
      
      }
      .row{
        margin-top: 5%;
        margin-right: 5%
      }
      .btn-facebook{
        background: #3B5998;
        width: 50%;
        height: 100%;
      }
      .fa-facebook{
        color: white;
      }
      .btn-google{
        background: #DD4B39;
        width: 50%;
        height: 100%;
      
      }
      .fa-google{
        color: white;
      }
      .containerbtn{
        margin-right: 0%;
      }
    
  }
  /*Mobile S 320px*/
  /*@media all and (max-device-width: 320px)
  {
    .btn-primary1{
      margin-right: 10%;
      width: 100%;
      height: 80%;
    }
  }
  
  /* Iphone Safari*/
  @media all and (max-device-width: 980px)
  {
    .btn-primary1{
      margin-left: -10%;
      width: 100%;
      height: 80%;
    }
    .btn-primary2{
      margin-left: 20%;
    }
  }
  /*Android*/
  @media all and (max-device-width: 800px)
  {
  
  }
  /*Windows phone */
  @media all and (max-device-width: 1024px)
  {  
    
    .btn-primary1{
      margin-left: 0%;
      width: 100%;
      height: 93%;    
    }
    .btn-primary2{
      margin-left: 25%;
    }
    .btn-secondaryajout{
      margin-right: 0%;
      
    }
    .btn-secondaryajout1{
      margin-left: 0%;
      
    }
    .btn-outline-success1{
      margin-left: 65%;
    }
    .btn-warning{
      width: 100%;
      height: 90%;
      margin-left: 0%;
    }
    .btn-danger{
      width: 100%;
      height: 70%;
      margin-left: 0%;
    }
    .btn-success{
      width: 100%;
      height: 70%;
      margin-left: 18%;
    }
    .btn-primary{
      width: 100%;
      height: 90%;
      margin-left: 18%;
    }
    .container1{
      margin-top: 30%;
    }
    .w-100{
      margin-top: 10%
      ;
    }
  }
  @media all and (max-device-width: 1200px)
  {
  
  }
   

  
  @media only screen and (orientation: portrait) and (min-width : 1024px )
  {
   .btn-danger{
       width: 60%;
       margin-left: 12%;
   }
   .btn-success{
       width: 70%;
   }
   .container1{
     margin-top: 10%;
   }
   .btn-warning{
    width: 60%;
    margin-left: 12%;
    height: 330%;
   }
   .btn-primary{
    width: 70%;
    height: 330%;
   }
   .btn-secondaryajout{
     margin-left: 15%;
   }
   .btn-secondaryajout1{
     margin-left: 20%;
   }
   .btn-primary1{
     width: 55%;
     margin-left: 20%;
   }
   .btn-primary2{
     margin-left: 40%;
   }
   .topnav{
     width: 130%;
   }
   .btn-primaryform1{
     width: 25%;
     margin-left: 40%;
   }
   .ou{
     margin-left: 40%;
   }
   .btn-outline-success1{
     margin-left: 89%;
   }
   .btn-primaryform{
     width: 34%;
   }
  }
  
  
  /*small tablet*/
  @media only screen and (orientation : portrait) and (min-width : 600)
  {
    .topnav{
      width: 180%;
    }
    .logo img{
      width: 90%;
    }
    .btn-light1{
      margin-left: 30%;
    }
    .btn-light11{
      margin-left: 15%;
    }
    .btn-primary2{
      margin-left: 40%;
    }
    .btn-primary1{
      margin-left: 10%;
    }
    .ou p{
      font-size: 80%;
    }
    .ou{
      margin-left: 38%;
    }
    .btn-primaryform1{
      width: 30%;
      margin-left: 37%;
    }
    .btn-outline-success1{
      margin-left: 80%;
    }

  }
  /*small tablet*/
  @media only screen and (orientation: landscape) and (min-width : 800 )
  {
    .btn-outline-success1{
      margin-left: 85%;
    }
     .btn-primaryform{
      width: 34%;
    }
    .ou{
      margin-left: 39%;
    }
    .btn-primaryform1{
      width: 28%;
      margin-left: 38%;
    }
    .btn-light1{
      margin-left: 35%;
    }
    .btn-light1{
      margin-left: 24%;
    }
    .btn-primary1{
      width: 55%;
      margin-left: 25%;
    }
    .btn-primary2{
      margin-left: 45%;
    }
    .btn-danger{
      width: 70%;
      margin-left: 20%;
    }
    .btn-success{
      margin-left: 10%;
      width: 70%;
    }
    .btn-warning{
      width: 70%;
      margin-left: 20%;
      height: 270%;
    }
    .btn-primary{
      margin-left: 10%;
      width: 70%;
      height: 270%;
    }
    .topnav{
      width: 120%;
    }
    .container1{
      margin-top: 10%;
    }
    


  }
  /*large tablet*/
  @media only screen and (orientation: landscape) and (min-width : 1024 )
  {
  .logo img{
    width: 65%;
  }
  .btn-primary{
    width: 60%;
  }
  .btn-success{
    width: 60%;
  }
  .btn-light1{
    margin-left: 50%;
  }
  .btn-secondaryajout{
    margin-left: 25%;
  }
  .btn-light11{
    margin-left: 20%;
  }
  .btn-secondaryajout1{
    margin-left: 0%;
    margin-right: 22%;
  }
  .btn-primary1{
    width: 35%;
    margin-left: 50%;
  }
  .btn-primary2{
    margin-left: 35%;
  }
  .btn-outline-success1{
    margin-left: 89%;
  }

  }
  /*large tablet*/
  @media only screen and (orientation:portrait) and (min-width :768)
  {
   .btn-success{
     width: 70%;
   }
   .btn-danger{
     width: 70%;
     margin-left: 15%;
   }
   .btn-warning{
     width: 70%;
     margin-left: 15%;
     height: 250%;
   }
   .btn-primary{
     width: 70%;
     height: 250%;
   }
   .logo img{
     width: 70%;
   }
   .btn-secondaryajout{
     margin-left: 0%;
     margin-right: 8%;
   }
   .btn-light11{
     margin-left: 24%;
   }
   .btn-primary1{
     width: 55%;
     margin-left: 28%;
   }
   .btn-primary2{
     margin-left: 45%;
   }
   .btn-primaryform{
     width: 34;
   }



  }
  