body{
    font-size: 20px;
}
ul{
    color: white;
}
a{
    color:white;
}
a:hover {
    color: white;
}
.dweb{
font-size: 14px;
color:#dcdcad;
height: 250px;
width: 60px;
text-align: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}











