
body{
    background: white;
}
.sidebar{
    background-image: url(image/background_sidebar.jpg);
}
h3::before{
content: url(image/web.png);
margin: 0 10px 0 0;
float: left;
}
div.col-6:nth-child(2) > h3:nth-child(1)::before{
    content: url(image/infographie.png);
}
div.col-6:nth-child(3) > h3:nth-child(1)::before{
    content: url(image/video.png);

}

div.col-6:nth-child(4) > h3:nth-child(1)::before{
    content: url(image/paquet.png);
}
.projet li{
  display: inline;
  margin: 10px;
}
